* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 189, 90);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

form {
    margin: 100px auto;
    max-width: 640px;
    width: 100%;
}


form button {
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
    color: rgb(185, 122, 4);
    font-weight: bold;
}

input, textarea, button, label {
    display: block;
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 100%;
    resize: none;
            
}